<a href="https://colab.research.google.com/github/kayleechesnutt/unemployment-obesity-NC/blob/main/Python_Chesnutt3_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Overview
- During this process, you will use Python to create a subset of data that allows for the analysis of a Public Health sample specific to North Carolina.
- The end result of this process will be a data subset that displays Adult Obesity and Unemployment in North Carolina.

#Getting Started
1. Create a folder for this project on your device.
> Name it whatever is easiest to remember so that you can also easily locate it.
2. Download the Public Health Data set by using this
[link](https://uncch.instructure.com/courses/33034/files/4638943?wrap=1) and drag it into the folder that you created.
3. Import the Pandas and Numpy package as shown below.
> Importing the packages will allow you to follow along with the coding process. Please do not skip this step.

In [7]:
import numpy as np

In [6]:
import pandas as pd

### Import your file.
> To import your file, click on the folder icon on the left side of the notebook and select the first folder. Then click on the three dots beside the folder, "content" and select upload. You should then be able to select the document you downloaded.

### Read and Name your Data.
> - You can read and name your data by using `.read_csv()`
Place the file name on the left side of the `=`
  - Note: You can use any name you would like for the data set. For example, using `df` ,short for data frame, is easy to remember/type.
- Place the actual name of the original data set into the parenthesis. Type it exactly how it was imported into your CoLab Notebook and include quotations.
`("CountyHealthData_2014-2015.csv")`

> It should look as follows:

In [8]:
df = pd.read_csv("CountyHealthData_2014-2015.csv")

###Now, when we want Python to read our data, we can simply type in "df".
>Now we should be able to read the data set.

In [11]:
df

,State,Region,Division,County,FIPS,GEOID,SMS Region,Year,Premature death,Poor or fair health,...,Drug poisoning deaths,Uninsured adults,Uninsured children,Health care costs,Could not see doctor due to cost,Other primary care providers,Median household income,Children eligible for free lunch,Homicide rate,Inadequate social support
0,AK,West,Pacific,Aleutians West Census Area,2016,2016,Insuff Data,1/1/2014,NaN,0.122,...,NaN,0.374,0.250,3791.0,0.185,216.0,69192,0.127,NaN,0.287
1,AK,West,Pacific,Aleutians West Census Area,2016,2016,Insuff Data,1/1/2015,NaN,0.122,...,NaN,0.314,0.176,4837.0,0.185,254.0,74088,0.133,NaN,NaN
2,AK,West,Pacific,Anchorage Borough,2020,2020,Region 22,1/1/2014,6827.0,0.125,...,15.37,0.218,0.096,6588.0,0.119,135.0,71094,0.319,6.29,0.160
3,AK,West,Pacific,Anchorage Borough,2020,2020,Region 22,1/1/2015,6856.0,0.125,...,17.08,0.227,0.123,6582.0,0.119,148.0,76362,0.334,5.60,NaN
4,AK,West,Pacific,Bethel Census Area,2050,2050,Insuff Data,1/1/2014,13345.0,0.211,...,NaN,0.394,0.124,5860.0,0.200,169.0,41722,0.668,12.77,0.477
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6104,WY,West,Mountain,Uinta County,56041,56041,Insuff Data,1/1/2015,7436.0,0.135,...,18.66,0.192,0.090,7600.0,0.123,47.0,60953,0.273,NaN,NaN
6105,WY,West,Mountain,Washakie County,56043,56043,Insuff Data,1/1/2014,6580.0,0.106,...,NaN,0.225,0.086,8202.0,0.099,47.0,49533,0.328,NaN,0.133
6106,WY,West,Mountain,Washakie County,56043,56043,Insuff Data,1/1/2015,7572.0,0.106,...,NaN,0.226,0.101,7940.0,0.099,47.0,50740,0.309,NaN,NaN
6107,WY,West,Mountain,Weston County,56045,56045,Insuff Data,1/1/2014,5633.0,0.162,...,NaN,0.201,0.084,6906.0,0.130,28.0,53665,0.232,NaN,0.171
6108,WY,West,Mountain,Weston County,56045,56045,Insuff Data,1/1/2015,7819.0,0.162,...,NaN,0.189,0.092,7238.0,0.130,28.0,59314,0.235,NaN,NaN

##Creating the First Subset
Now that you have all of the data, you can begin to create a smaller subset.
- For this subset, we want Python to only recognize data from NC.
Therefore we need to create a command that isolates every instance of "State" as "NC".
>The statement should contain `df["State"] == NC`

In [27]:
df["State"]

0       AK
1       AK
2       AK
3       AK
4       AK
        ..
6104    WY
6105    WY
6106    WY
6107    WY
6108    WY
Name: State, Length: 6109, dtype: object

In [13]:
df["State"]=="NC"

0       False
1       False
2       False
3       False
4       False
        ...
6104    False
6105    False
6106    False
6107    False
6108    False
Name: State, Length: 6109, dtype: bool

###Now that Python recognizes NC as `"State"`, we can create a table that includes the columns and rows that we need.
- We will be looking at Adult obsesity and Unemployment in NC. Therefore, we need to select those two columns and then select a certain number of rows as shown below.

>The rows selected are labeled as `[3295:3338]`

>The columns are labeled as `["State","Adult Obesity","Year", "Unemployment"]`

In [30]:
df[["State","Adult obesity","Year","Unemployment"]][3295:3338]

     State  Adult obesity      Year  Unemployment
3295    NC          0.292  1/1/2014         0.069
3296    NC          0.305  1/1/2015         0.064
3297    NC          0.281  1/1/2014         0.113
3298    NC          0.278  1/1/2015         0.098
3299    NC          0.290  1/1/2014         0.102
3300    NC          0.299  1/1/2015         0.084
3301    NC          0.281  1/1/2014         0.087
3302    NC          0.265  1/1/2015         0.075
3303    NC          0.361  1/1/2014         0.097
3304    NC          0.340  1/1/2015         0.086
3305    NC          0.294  1/1/2014         0.076
3306    NC          0.288  1/1/2015         0.064
3307    NC          0.370  1/1/2014         0.147
3308    NC          0.397  1/1/2015         0.134
3309    NC          0.260  1/1/2014         0.090
3310    NC          0.259  1/1/2015         0.075
3311    NC          0.334  1/1/2014         0.090
3312    NC          0.325  1/1/2015         0.074
3313    NC          0.273  1/1/2014         0.106
3314    NC          0.312  1/1/2015         0.088
3315    NC          0.328  1/1/2014         0.073
3316    NC          0.343  1/1/2015         0.073
3317    NC          0.295  1/1/2014         0.168
3318    NC          0.295  1/1/2015         0.141
3319    NC          0.302  1/1/2014         0.096
3320    NC          0.333  1/1/2015         0.084
3321    NC          0.318  1/1/2014         0.095
3322    NC          0.331  1/1/2015         0.085
3323    NC          0.274  1/1/2014         0.098
3324    NC          0.282  1/1/2015         0.083
3325    NC          0.379  1/1/2014         0.132
3326    NC          0.392  1/1/2015         0.115
3327    NC          0.331  1/1/2014         0.108
3328    NC          0.310  1/1/2015         0.092
3329    NC          0.259  1/1/2014         0.087
3330    NC          0.239  1/1/2015         0.072
3331    NC          0.219  1/1/2014         0.073
3332    NC          0.218  1/1/2015         0.060
3333    NC          0.341  1/1/2014         0.104
3334    NC          0.334  1/1/2015         0.094
3335    NC          0.331  1/1/2014         0.094
3336    NC          0.344  1/1/2015         0.083
3337    NC          0.315  1/1/2014         0.109

###Naming your Newly Created Subset
- Now that we have pulled parts of the data from the larger set of data and created a new table, we came name the subset.
- It is easiest to name it something that we can easily remember. Therefore, I chose to name my subset, `"Subset"`
>1. Put the name you have chosen on the left side of the `=`.
>2. Use the function "loc" to read your newly complied data set.
>3. Inside of the brackets, first include your columns `3295:3338`. Then add a comma and include your rows.
>4. Be sure to add `.copy()` to the end so you do not get an error.

In [31]:
subset = df.loc[3295:3338, ["State","Adult obesity","Year","Unemployment"]].copy()

In [32]:
subset

     State  Adult obesity      Year  Unemployment
3295    NC          0.292  1/1/2014         0.069
3296    NC          0.305  1/1/2015         0.064
3297    NC          0.281  1/1/2014         0.113
3298    NC          0.278  1/1/2015         0.098
3299    NC          0.290  1/1/2014         0.102
3300    NC          0.299  1/1/2015         0.084
3301    NC          0.281  1/1/2014         0.087
3302    NC          0.265  1/1/2015         0.075
3303    NC          0.361  1/1/2014         0.097
3304    NC          0.340  1/1/2015         0.086
3305    NC          0.294  1/1/2014         0.076
3306    NC          0.288  1/1/2015         0.064
3307    NC          0.370  1/1/2014         0.147
3308    NC          0.397  1/1/2015         0.134
3309    NC          0.260  1/1/2014         0.090
3310    NC          0.259  1/1/2015         0.075
3311    NC          0.334  1/1/2014         0.090
3312    NC          0.325  1/1/2015         0.074
3313    NC          0.273  1/1/2014         0.106
3314    NC          0.312  1/1/2015         0.088
3315    NC          0.328  1/1/2014         0.073
3316    NC          0.343  1/1/2015         0.073
3317    NC          0.295  1/1/2014         0.168
3318    NC          0.295  1/1/2015         0.141
3319    NC          0.302  1/1/2014         0.096
3320    NC          0.333  1/1/2015         0.084
3321    NC          0.318  1/1/2014         0.095
3322    NC          0.331  1/1/2015         0.085
3323    NC          0.274  1/1/2014         0.098
3324    NC          0.282  1/1/2015         0.083
3325    NC          0.379  1/1/2014         0.132
3326    NC          0.392  1/1/2015         0.115
3327    NC          0.331  1/1/2014         0.108
3328    NC          0.310  1/1/2015         0.092
3329    NC          0.259  1/1/2014         0.087
3330    NC          0.239  1/1/2015         0.072
3331    NC          0.219  1/1/2014         0.073
3332    NC          0.218  1/1/2015         0.060
3333    NC          0.341  1/1/2014         0.104
3334    NC          0.334  1/1/2015         0.094
3335    NC          0.331  1/1/2014         0.094
3336    NC          0.344  1/1/2015         0.083
3337    NC          0.315  1/1/2014         0.109
3338    NC          0.297  1/1/2015         0.095

Congratulations, you have created a new data set adn successfully named it.
Once you have completed this process, it is now time to export your data.

---

#Exporting
Exporting involves the `.to_csv()` method.
1. The name of the file goes in parenthesis along with `Index=False` to avoid unwanted rows or columns.
>Create an easy name so that it is easy to remember.

In [37]:
subset.to_csv("NC.UnemploymentAdultObesity_Data.csv", index=False)

This file will now appear in your folder as a csv file.
##You have now succesfully created and exported your new data set!